@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Kanit:wght@300;600;900&family=Noto+Sans+KR:wght@100;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Kanit";
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

ul {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
ul li {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: rgba(110, 110, 110, 0.9803921569);
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.5s;
}
ul li.on {
  height: 80px;
  background: rgb(255, 218, 95);
}

#first {
  max-width: 1220px;
  min-height: 400px;
  padding: 0 20px;
  margin: 100px auto;
  position: relative;
}
#first .upper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0px auto 100px;
  padding: 50px 0px;
}
#first .upper article {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
  padding-left: 120px;
}
#first .upper article .pic {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10%;
  left: 0;
  width: 300px;
  height: 80%;
  z-index: 2;
}
#first .upper article .pic img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
#first .upper article .txtBox {
  position: relative;
  background-color: #f1f1f1;
  padding: 50px;
}
#first .upper article .txtBox .txt {
  margin-left: 200px;
}
#first .upper article .txtBox .txt h3 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: "Kanit";
  font-weight: 600;
}
#first .upper article .txtBox .txt p {
  font-family: "Kanit";
  font-size: 18px;
  margin-bottom: 50px;
}
#first .upper article .txtBox .txt a {
  color: #f1f1f1;
  display: block;
  width: 150px;
  padding: 15px;
  text-align: center;
  background-color: #111;
  border-radius: 80px;
}
#first .upper article .txtBox .txt a:hover {
  background-color: rgba(232, 182, 0, 0.6156862745);
  transition: 1s;
  color: #111;
}
#first .Btn p {
  text-align: center;
  font-size: 18px;
  color: #636363;
  display: block;
  transform: translateY(20px);
}
#first .Btn span {
  cursor: pointer;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #636363;
  border-radius: 50px;
  box-sizing: border-box;
}
#first .Btn span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #636363;
  border-radius: 100%;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
#first .lower {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px 0px;
  margin: 0px auto;
}
#first .lower .lowerLeft {
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
#first .lower .lowerLeft .title {
  border-right: 5px solid black;
  margin-right: 50px;
}
#first .lower .lowerLeft .title h2 {
  transform: rotate(90deg);
  font-size: 50px;
  letter-spacing: 1px;
  padding-top: 20px;
}
#first .lower .lowerLeft .profileTxt {
  padding: 50px;
}
#first .lower .lowerLeft .profileTxt p {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  color: #333;
}
#first .lower .lowerLeft .profileTxt p span {
  display: block;
  font-weight: 300;
  font-size: 30px;
  color: #111;
}
#first .lower .lowerLeft .profileTxt p:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
#first .lower .lowerLeft .profileTxt p:nth-of-type(3) span {
  font-weight: 400;
  font-size: 22px;
  padding: 0px;
}
#first .lower .lowerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
#first .lower .lowerRight .title {
  border-right: 5px solid black;
  margin-right: 50px;
}
#first .lower .lowerRight .title h2 {
  transform: rotate(90deg);
  font-size: 50px;
  padding-top: 20px;
}
#first .lower .lowerRight .logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
#first .lower .lowerRight .logo .html {
  width: 150px;
  height: 150px;
}
#first .lower .lowerRight .logo .html img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
#first .lower .lowerRight .logo .css {
  width: 150px;
  height: 150px;
}
#first .lower .lowerRight .logo .css img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
#first .lower .lowerRight .logo .sass {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#first .lower .lowerRight .logo .sass h2 {
  font-size: 30px;
  font-family: "Kanit";
  font-weight: 900;
}
#first .lower .lowerRight .logo .sass img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
#first .lower .lowerRight .logo .js {
  width: 150px;
  height: 150px;
}
#first .lower .lowerRight .logo .js img {
  width: 100%;
  height: 100%;
  object-fit: center;
}
#first .lower .lowerRight .logo .react {
  width: 120px;
  height: 150px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#first .lower .lowerRight .logo .react h2 {
  font-size: 30px;
  font-family: "Kanit";
  font-weight: 900;
}
#first .lower .lowerRight .logo .react img {
  width: 120px;
  height: 100px;
  object-fit: center;
}
#first .lower .lowerRight .logo .redux {
  width: 150px;
  height: 150px;
}
#first .lower .lowerRight .logo .redux img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

#second {
  background-color: #f1f1f1;
  width: 100%;
  padding: 50px 0px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
#second .title {
  border-right: 5px solid black;
  height: 100%;
  width: 100px;
}
#second .title h2 {
  transform: rotate(90deg);
  font-size: 50px;
  padding-top: 20px;
}
#second .wrap {
  height: 100%;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#second .wrap .html {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1180px;
  margin-bottom: 100px;
}
#second .wrap .html .pic {
  width: 700px;
  height: 400px;
}
#second .wrap .html .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#second .wrap .html .txt {
  position: relative;
  width: 100%;
  padding: 50px;
}
#second .wrap .html .txt h2 {
  font-weight: 700;
  font-family: "NotoSansKR";
  margin-bottom: 10px;
  font-size: 28px;
}
#second .wrap .html .txt p {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
  font-family: "NotoSansKR";
  font-weight: 700;
}
#second .wrap .html .txt p a {
  font-size: 18px;
  color: #111;
  text-decoration: underline;
  font-weight: 100;
  font-family: "Kanit";
}
#second .wrap .html .txt p span {
  font-size: 18px;
  color: #111;
  font-weight: 100;
  font-family: "Kanit";
}
#second .wrap .html .txt > a {
  color: #f1f1f1;
  display: block;
  width: 50%;
  padding: 15px;
  text-align: center;
  background-color: #111;
  border-radius: 80px;
  margin-top: 30px;
}
#second .wrap .html .txt > a:hover {
  background-color: rgba(232, 182, 0, 0.6156862745);
  transition: 1s;
  color: #111;
}
#second .wrap .react {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1180px;
}
#second .wrap .react .pic {
  width: 700px;
  height: 300px;
}
#second .wrap .react .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#second .wrap .react .txt {
  position: relative;
  width: 100%;
  padding: 50px;
}
#second .wrap .react .txt h2 {
  font-weight: 700;
  font-family: "NotoSansKR";
  margin-bottom: 10px;
  font-size: 28px;
}
#second .wrap .react .txt p {
  font-size: 20px;
  color: #444;
  margin-bottom: 10px;
  font-family: "NotoSansKR";
  font-weight: 700;
}
#second .wrap .react .txt p a {
  font-size: 18px;
  color: #111;
  text-decoration: underline;
  font-weight: 100;
  font-family: "Kanit";
}
#second .wrap .react .txt p span {
  font-size: 18px;
  color: #111;
  font-weight: 100;
  font-family: "Kanit";
}
#second .wrap .react .txt > a {
  margin-top: 30px;
  color: #f1f1f1;
  display: block;
  width: 50%;
  padding: 15px;
  text-align: center;
  background-color: #111;
  border-radius: 80px;
}
#second .wrap .react .txt > a:hover {
  background-color: rgba(232, 182, 0, 0.6156862745);
  transition: 1s;
  color: #111;
}

@keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 1179px) {
  ul {
    display: none;
  }
  #first {
    margin: 0px auto 100px;
  }
  #first .upper {
    flex-wrap: wrap;
  }
  #first .upper article {
    flex-wrap: wrap;
    padding-left: 0px;
    flex: 1 100%;
  }
  #first .upper article .pic {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    max-height: 500px;
    z-index: 2;
    position: relative;
    top: auto;
    left: auto;
    height: auto;
    flex: 1 100%;
  }
  #first .upper article .txtBox {
    width: 100%;
    padding: 40px 20px;
    flex: 1 100%;
  }
  #first .upper article .txtBox .txt {
    margin-left: 0px;
  }
  #first .upper article .txtBox .txt h3 {
    font-size: 35px;
  }
  #first .upper article .txtBox .txt p {
    margin-bottom: 30px;
  }
  #first .upper article .txtBox .txt a {
    margin-left: 50%;
    width: 50%;
    padding: 10px;
  }
  #first .lower {
    overflow: hidden;
    flex-wrap: wrap;
  }
  #first .lower .lowerLeft {
    margin-right: 0px;
    margin-bottom: 100px;
  }
  #first .lower .lowerLeft .title h2 {
    font-size: 35px;
  }
  #first .lower .lowerLeft .profileTxt {
    padding: 0px 20px;
  }
  #first .lower .lowerLeft .profileTxt p {
    font-size: 25px;
  }
  #first .lower .lowerLeft .profileTxt p span {
    font-size: 20px;
    padding: 0px 10px;
  }
  #first .lower .lowerLeft .profileTxt p:nth-of-type(3) span {
    padding: 0px 10px;
    font-size: 18px;
  }
  #first .lower .lowerRight {
    margin-right: 0px;
  }
  #first .lower .lowerRight .title h2 {
    font-size: 35px;
  }
  #first .lower .lowerRight .logo {
    gap: 30px;
  }
  #first .lower .lowerRight .logo .html {
    width: 100px;
    height: 100px;
  }
  #first .lower .lowerRight .logo .css {
    width: 100px;
    height: 100px;
  }
  #first .lower .lowerRight .logo .sass {
    width: 80px;
    height: 100px;
  }
  #first .lower .lowerRight .logo .sass h2 {
    font-size: 22px;
  }
  #first .lower .lowerRight .logo .js {
    width: 100px;
    height: 100px;
  }
  #first .lower .lowerRight .logo .react {
    width: 90px;
    height: 100%;
    padding-left: 15px;
  }
  #first .lower .lowerRight .logo .react h2 {
    font-size: 20px;
  }
  #first .lower .lowerRight .logo .react img {
    width: 100%;
    height: 100%;
  }
  #first .lower .lowerRight .logo .redux {
    width: 100px;
    height: 100px;
  }
  .Btn {
    display: none;
  }
  #second {
    justify-content: left;
    height: 100%;
    align-items: flex-start;
  }
  #second .title h2 {
    font-size: 35px;
  }
  #second .wrap {
    padding: 0px 30px 0px 20px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }
  #second .wrap .html {
    flex: 1 100%;
    width: 100%;
    margin-bottom: 50px;
    flex-wrap: wrap;
  }
  #second .wrap .html .pic {
    width: 100%;
    flex: 1 100%;
    height: auto;
  }
  #second .wrap .html .txt {
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  #second .wrap .html .txt > a {
    margin-left: 50%;
  }
  #second .wrap .html .txt p span {
    display: block;
  }
  #second .wrap .react {
    flex: 1 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  #second .wrap .react .pic {
    width: 100%;
    height: auto;
    flex: 1 100%;
  }
  #second .wrap .react .txt {
    width: 100%;
    height: auto;
    padding: 30px 0px;
  }
  #second .wrap .react .txt > a {
    margin-left: 50%;
  }
  #second .wrap .react .txt p span {
    display: block;
  }
}
@media screen and (max-width: 539px) {
  #first .upper article .txtBox .txt h3 {
    font-size: 30px;
  }
  #first .upper article .txtBox .txt p {
    font-size: 15px;
  }
  #first .upper article .txtBox .txt a {
    margin-left: 0px;
    width: 100%;
    padding: 10px;
  }
  #first .lower .lowerLeft .title h2 {
    font-size: 30px;
  }
  #first .lower .lowerLeft .profileTxt {
    padding: 0px 0px;
  }
  #first .lower .lowerLeft .profileTxt p {
    font-size: 20px;
  }
  #first .lower .lowerLeft .profileTxt p span {
    font-size: 16px;
    padding: 0px 0px;
  }
  #first .lower .lowerLeft .profileTxt p:nth-of-type(3) span {
    padding: 0px 0px;
    font-size: 16px;
  }
  #first .lower .lowerRight {
    align-items: center;
    padding: 0px 0px;
  }
  #first .lower .lowerRight .title h2 {
    font-size: 30px;
  }
  #first .lower .lowerRight .logo {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #first .lower .lowerRight .logo .html {
    width: 50px;
    height: 100%;
  }
  #first .lower .lowerRight .logo .css {
    width: 50px;
    height: 100%;
  }
  #first .lower .lowerRight .logo .sass {
    width: 50px;
    height: 100%;
  }
  #first .lower .lowerRight .logo .sass h2 {
    font-size: 13px;
  }
  #first .lower .lowerRight .logo .js {
    width: 50px;
    height: 100%;
  }
  #first .lower .lowerRight .logo .react {
    width: 50px;
    height: 100%;
    padding-left: 0px;
  }
  #first .lower .lowerRight .logo .react h2 {
    font-size: 13px;
  }
  #first .lower .lowerRight .logo .redux {
    width: 60px;
    height: 100%;
  }
  #second .title {
    width: 80px;
  }
  #second .title h2 {
    font-size: 30px;
  }
  #second .wrap .html .txt h2 {
    font-size: 20px;
  }
  #second .wrap .html .txt p {
    font-size: 18px;
  }
  #second .wrap .html .txt p span {
    font-size: 16px;
  }
  #second .wrap .html .txt p:nth-of-type(3) span {
    font-size: 16px;
  }
  #second .wrap .html .txt > a {
    margin-top: 30px;
    margin-left: 0px;
    font-size: 15px;
    padding: 10px;
  }
  #second .wrap .react .txt h2 {
    font-size: 20px;
  }
  #second .wrap .react .txt p {
    font-size: 18px;
  }
  #second .wrap .react .txt p span {
    font-size: 16px;
  }
  #second .wrap .react .txt p:nth-of-type(3) span {
    font-size: 16px;
  }
  #second .wrap .react .txt > a {
    margin-top: 30px;
    margin-left: 0px;
    font-size: 15px;
    padding: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
